{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>👋 About Us</h1>
<p>At Genshin Impact Guide App, we are dedicated to providing you the best to cater your needs.</p>

<h2>Our Mission</h2>
Our mission is to assist players. We aim to expand our website and the community that is growing alongside us. Join us on this journey of exploration, discovery, and innovation.

</h2>Explore Our Features<h2>
<h3>1. Discover</h3>
<p>Uncover a world of possibilities with our Genshin Impact Guide App. From functionalities to another feature description, we have it all. </p>

<h3>2. Learn</h3>
<p>Stay informed and enhance your knowledge with our insightful articles and tutorials. Genshin Impact Guide App offers a variety of content to educate you.</p>

<h3>3. Connect</h3>
<p>Connect with like-minded individuals and build a community around your interests. Genshin Impact Guide App allows you to describe how users can interact and engage with each other.</p>
{% endblock %}