{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>Genshin Impact Guide App</h1>
<br>
<h2>Discover a World of Features</h2>
<h3>1. Guide Recommendations</h3>
<p> Our app consist of guides on every characters, weapons, items and quest. </p>

<h3>2. Interactive Map</h3>
<p>Immerse yourself in our interactive map. It offers more precise and up to date information on every corner of teyvat.</p>

<h3>3. Community Collaboration</h3>
<p>Connect with a vibrant community of enthusiasts. Interact with individuals also share your ideals and passion.</p>

<h3>4. Personalized Dashboards</h3>
<p>Create a personalized dashboard that suits your preferences. Customize your profile, keep track of your progress and access everything you need in one place.</p>

<h3>5. Real-time Updates</h3>
<p>Stay in the loop with real-time updates. Receive instant notifications about new content, discussions, and achievements within the community.</p>

<h3>6. Upcoming Events</h3>
<p>Participate in exclusive events hosted by the app.</p>

<h2>Why use Genshin Impact Guide App? </h2>
<ul>
    <li>Innovation: Embrace the latest features and technologies designed to enhance your online experience.</li>
    <li>Community Engagement: Connect with a diverse and supportive community passionate about shared interests.</li>
    <li>Continuous Improvement: We are committed to evolving and adding new features based on user feedback.</li>
</ul>
<p>Ready to experience the future of Genshin Impact Guide App? Sign Up now and unlock a world of possibilities!</p>
{% endblock %}